[submodule "vmware-esxi/pyyaml"]
	path = vmware-esxi/pyyaml
	url = https://github.com/yaml/pyyaml
[submodule "vmware-esxi/oauthlib"]
	path = vmware-esxi/oauthlib
	url = https://github.com/oauthlib/oauthlib
[submodule "vmware-esxi/ipaddr"]
	path = vmware-esxi/ipaddr
	url = https://github.com/google/ipaddr-py
