[submodule "vmware-esxi/pyyaml"]
	path = vmware-esxi/pyyaml
	url = https://github.com/yaml/pyyaml
[submodule "vmware-esxi/oauthlib"]
	path = vmware-esxi/oauthlib
	url = https://github.com/oauthlib/oauthlib
[submodule "vmware-esxi/ipaddr"]
	path = vmware-esxi/ipaddr
	url = https://github.com/google/ipaddr-py
[submodule "vmware-esxi/requests"]
	path = vmware-esxi/requests
	url = https://github.com/kennethreitz/requests
[submodule "vmware-esxi/urllib3"]
	path = vmware-esxi/urllib3
	url = https://github.com/urllib3/urllib3
[submodule "vmware-esxi/chardet"]
	path = vmware-esxi/chardet
	url = https://github.com/chardet/chardet
[submodule "vmware-esxi/python-certifi"]
	path = vmware-esxi/python-certifi
	url = https://github.com/certifi/python-certifi
[submodule "vmware-esxi/idna"]
	path = vmware-esxi/idna
	url = https://github.com/kjd/idna
